{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world! <i class="fas fa-globe-americas"></i></h1>
            <small class="lead">This is an integration between scikit-learn and django demo.</small>
            <hr class="my-4">
            <form action={% url 'index' %} method="POST">
                {% csrf_token %}
                <div class="form-group">
                {% if message %}
                    <input type="text" class="form-control" name="message" id="message-input" value={{message}}>
                {% else %}
                    <input type="text" class="form-control" name="message" id="message-input" placeholder="message to sentiment">
                {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Measure</button>
            </form>
            <hr class="my-4">
            <div>
                <blockquote class="blockquote text-center">
                    <small> Your message is </small>
                    <p class="mb-0">{{message}}</p>
                    {% if sentiment == "neg" %}
                        <h1 class="display-4" style="color:red">Negative</h1>
                    {% elif sentiment == "neu"  %}
                         <h1 class="display-4">Neutral</h1>
                    {% elif sentiment == "pos"  %}
                         <h1 class="display-4" style="color:green">Positive</h1>
                    {% endif %}
                </blockquote>
            </div>

        </div>
    </div>


{% endblock %}